/node_modules
/static-file-fun/node_modules
/static-file-fun/error-stack/node_modules
/randomNumberProject/node_modules
/viewsTemplates/node_modules
/lam/node_modules
/testing/node_modules
/wathsMyUserAgent/node_modules